.formulaire{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
}

.champ-formulaire{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 20px;
}

.champ-formulaire label{
    margin-right: 10px;
}

.saisit{
    border: solid rgb(116, 116, 116) 2px;
    border-radius: 5px;
    height: 30px;
}

.envoie-image{
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.bouton-valider{
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 5px;
    font-size: 120%;
    padding: 15px 10%;
    text-decoration: none;
    text-align: center;
    margin-top: 200px;
}

.div-bouton-valider{
    margin-top: 70px;
}