@font-face {
  font-family: Quicksand;
  src: url('..\font\Quicksand-Medium.ttf');
}

div {
  font-family: Quicksand;
}

body{
  font-family: Quicksand-Medium;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Quicksand', sans-serif;
}
ul {
  list-style-type: none;
  margin-top: auto;
  padding: 0; 
  overflow: hidden;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: space-around;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*Mise en page de la liste items*/

.icons {
  width: 50%; 
  height: 50%;
}

.active{
  border-style: none none solid none;
  border-radius: 1px;
}

.bouton_photo{
  display: flex;
  justify-content: center;
}

.bouton_photo_div{
  position: absolute;
  top: 73vh;
  width: 100%;
}
/* Camera  */

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

a:hover {
  background-color: inherit;
  color: inherit;
  
}


.icons-qr-code-detecteur-div{
  position: absolute;
  top: 20vh;
  width: 100%;
}

.icons-qr-code-detecteur{
  display: flex;
  justify-content: center;

}

.logo{
  margin: 10px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}