.text-parametre{
    margin: 5%;
    font-size: 25px;
}

.option-musique{
    display: flex;
    justify-content:left;
}

.icons-musique{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.bouton-parametre{
    display: flex;
    justify-content: space-around;
}

.bouton-deconnection{
    background-color: rgb(255, 51, 0);
    color: rgb(80, 16, 0);
    border-style: none;
    border-radius: 5px;
    font-size: 120%;
    padding: 15px 10%;
    text-decoration: none;
    text-align: center;
}

.bouton-cree{
    background-color: lawngreen;
    color: rgb(42, 83, 0);
    border-style: none;
    border-radius: 5px;
    font-size: 120%;    
    padding: 15px 16%;
    text-decoration: none;
    text-align:center;
}